<div id="wrap">
	<div id="header">
	  <div class="wrap">
      <h1><a href="#">tweeterous</a></h1>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
	  </div>
	</div>
	<div id="banner">
	  <div class="wrap">
	    <div class="quotes">
	      <h1>
	        Do cats tweet? Hmmmm.. <br>
	        In Tweeterous, they can!
	      </h1>
        <h2>
          The microblog for all kinds of being! <br>
          Dogs, cats, birds... We got it all!<br>
          Sign-up now for a free account!
          <br>
        </h2>
        <a class="button" href="#">Sign-up Now!</a>
      </div>
	  </div>
	</div>
	<div id="footer">
    <div class="wrap">
      <div class="col col_left">
        <h1>About This Project</h1>
        <p>
          This project is created using Ruby on Rails.
          This is developed by following through the famous RoR training found
          <a href="http://ruby.railstutorial.org">here</a>.<br><br>
          Though this one is a much prettier (in terms of GUI) version of it. <br><br>
          -- PROJECT STILL UNDER CONSTRUCTION -- <br><br>
          Future Modification: <br>
            > must use Backbone.js
        </p>
      </div>
      <div class="col col_center">
        <h1>Fork this on Github!</h1>
        <p>
          Download a copy of this project from Github. <br><br>

          Though I doubt you can download a copy of it right
          now since this project is not yet pushed to the repo.
          ^__^<br><br>
        </p>
      </div>
      <div class="col col_right">
        <h1>Credits</h1>
        <p>
          For this prototype, I've just copied all UI elements and graphics from <a href="http://www.degt.cl/"> Daniel Guttierez</a> so all credits goes to this amazing guy. <br><br>
          Though I'm planning on changing the UI once I've finished with the backend implementation. <br><br>
          And thanks to the creator of this <a href="http://ruby.railstutorial.org">Rails tutorial</a>. Great tutorial!
        </p>
      </div>
    </div>
	</div>
	<div id="credits">
	  <div class="wrap">
      <p>Tweeterous by Dyosa | 2011</p>
	  </div>
	</div>
</div>